*{
    margin: 0px;
}
body{
    background-image: url(./wallpaper.jpg);
    /* height: 100px; */
    width: 100%;
    background-repeat: repeat-x;
}
.abc{
    height: 800px;
    width: 100%;
    /* background-color:white ; */
    background-image:radial-gradient( rgba(14, 12, 12, 0.352), rgba(17, 5, 5, 0.873));
}
.q{
    height: 100%;
    width: 100%;
    /* background-image: radial-gradient(red); */
    background-color: gray;
}
a{
    text-decoration: none;
}
.b{
    display: flex;
    justify-content: space-around;
}
.c{
    text-align: center;
    margin-top: 150px;
    margin-bottom: 10px;
    line-height: 60px;
    /* margin: auto; */
    /* margin-left: 37%; */
    /* justify-content: center; */
}
.d{
    background-color: black;
    display: flex;
    justify-content: space-between;
}
.e{
    margin-top: 2px;
    background-color: black;
    display: flex;
    justify-content: space-between;
}
.f{
    margin-top: 2px;
    background-color: black;
    display: flex;
    justify-content: space-between;
}
.g{
    /* display: ; */
    background-color: black;
    text-align: center;
    margin-top: 5px;
    color: white;
    /* margin-bottom: 100px; */
}
.k{

    /* margin-top: 5px; */
    background-color: black;
    display: flex;
    justify-content: space-evenly;
}